@use './info.scss';
@use './posts.scss';
@use './featured.scss';
@use './footer.scss';
@use './nav.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary: #FF6464;
  --secondary: #00A8CC;
  --dark-color: #21243D;
  --background: #FFFFFF;
  --light: #8695A4;
  --year-background: #142850;
  --dark-background: #EDF7FA;
  --gray-5: #E0E0E0;
  --text-primary: #000000;
}

body {
  font-family: 'Heebo', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-right: 148px;
  padding-left: 148px;
}
